<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.link.bianmi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARES_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:name="com.link.bianmi.BianmiApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ActionBar.Base" >
        <activity
            android:name="com.link.bianmi.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.link.bianmi.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ActionBar.NoTitle" />
        <!-- 欢迎 -->
        <activity
            android:name="com.link.bianmi.activity.WelcomeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <!-- 注册 -->
        <activity
            android:name="com.link.bianmi.unit.country.CountryActivity"
            android:theme="@style/Theme.ActionBar.NoLogo" />
        <!-- 注册 -->
        <activity
            android:name="com.link.bianmi.activity.SignUpActivity"
            android:theme="@style/Theme.ActionBar.NoLogo" />
        <!-- 短信注册 -->
        <activity
            android:name="com.link.bianmi.activity.SignUpBySmsActivity"
            android:theme="@style/Theme.ActionBar.NoLogo" />
        <!-- 登录 -->
        <activity
            android:name="com.link.bianmi.activity.SignInActivity"
            android:theme="@style/Theme.ActionBar.NoLogo" />
        <!-- 发表秘密 -->
        <activity
            android:name="com.link.bianmi.activity.PublishActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ActionBar.NoLogo"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 秘密详情 -->
        <activity
            android:name="com.link.bianmi.activity.DetailsActivity"
            android:theme="@style/Theme.ActionBar.NoLogo" />
        <!-- 设置 -->
        <activity
            android:name="com.link.bianmi.activity.SettingsActivity"
            android:theme="@style/Theme.ActionBar.NoLogo" />
        <!-- 设置九宫格密码 -->
        <activity
            android:name="com.link.bianmi.unit.ninelock.NineLockSettingsActivity"
            android:theme="@style/Theme.ActionBar.NoLogo" />
        <!-- 九宫格密码 -->
        <activity
            android:name="com.link.bianmi.unit.ninelock.NineLockActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <!-- 加载web页面 -->
        <activity
            android:name="com.link.bianmi.activity.WebActivity"
            android:theme="@style/Theme.ActionBar.NoLogo" />

        <!-- 友盟SDK -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="543b838cfd98c5055701d798" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <!-- SMSSDK -->
        <activity
            android:name="cn.smssdk.SMSSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- ShareSDK -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name="cn.sharesdk.onekeyshare.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 易信分享回调 -->
        <activity
            android:name="cn.sharesdk.onekeyshare.YXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 百度定位 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="TRs03tQdVQXBWHYG4f2UmO6A" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
    </application>

</manifest>